



   <div id="content">

            <nav class="navbar navbar-expand-md" id="navbar-top">
                <div class="container-fluid">
                    <div class="navbar-brand">
                        <img src="./icons8-music-64.png" href = "/callback" width="60" height="50" class="d-inline-block align-top" alt="" loading="lazy">
                        Musify
                    </div>
                    
                    <form class="form-inline my-2 my-lg-0">
                        <input id="search-keywords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn my-2 my-sm-0" id="search" type="submit"><i class="fas fa-search"></i></button>
                    </form>

                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
                            Library
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/playlistdata">Playlist</a>
                            
                        </div>
                            
                    </li>
                    <li class="nav-item dropdown">
                        <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" >
                            Profile
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">Account</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>    
                    </li>
                    
                </div>
            </nav>
    </div>
 

 